<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The personal home page of Rohit Sanbhadti. Tread lightly, here there be dragons. Or, something.">
        <meta name="author" content="Rohit Sanbhadti">

        <title>{{ page.title }}</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <!-- Custom styles -->
        <!-- <link href="/css/cover.css" rel="stylesheet"> -->
        <!-- <link href="css/solarized_light.css" rel="stylesheet"> -->
        <link href="/css/solarized_mou.css" rel="stylesheet">
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    
                    <div class="masthead clearfix">
                        <div class="inner">
                            <!-- <h3 class="masthead-brand">Home</h3> -->
                            <ul class="nav masthead-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/blog.html">Blog</a></li>
                                <li><a href="/contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="content">
                    {{ content }}
                    </div>

                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
    </body>
</html>
