---
layout: default
---
<div id="post">
  <h1>{{ page.title }}</h1>
  <p class="meta">{{ page.date | date_to_string }}</p>
  {{ content }}
</div>

<div class="comments">
    <h3>Comments</h3>
    <noscript>Please enable JavaScript to view the comments</noscript>
    <div id="disqus_thread"></div>
</div>

<script type="text/javascript">
    var disqus_shortname = 'rohits47'; 
    var disqus_identifier = '{{ page.id }}';
    var disqus_url = '{{ site.url }}{{ page.url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
